@import "@material/textfield/mdc-text-field";
.mdc-text-field {
  max-width: 500px;
  margin: 0 auto;
}
.calc-matching {
  position: absolute;
  z-index: 200;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
